@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap);
* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  width: 240px;
  height: 120px;
  margin-left: -10px;
  margin-right: 40px;
}

#button {
  padding: 15px 35px;
  border: 2px solid white;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .copyNaruto {
  color: #555252;
}
.footer .a {
  text-decoration: none;
  color: white;
}
.footer .a:hover {
  color: #b9b9b9;
}

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
.container00.container01 {
  background-image: url("../../images/home01.jpg");
}
.container00.container02 {
  background-image: url("../../images/home02.jpg");
}
.container00.container03 {
  background-image: url("../../images/home03.jpg");
}
.container00.container04 {
  background-image: url("../../images/home04.gif");
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: 25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
.mediumTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .shortTitle,
.mediumTitle {
    width: auto;
    font-size: 40px;
  }
}
.container00.container09 {
  background-image: url("../../images/jinchuurikiPage01.jpg");
}
.container00.container11 {
  background-image: url("../../images/jinchuurikiPage02.jpg");
}
.container00.container12 {
  background-image: url("../../images/jinchuurikiPage03.jpg");
}
.container00.container13 {
  background-image: url("../../images/jinchuurikiPage04.png");
}
.container00.container14 {
  background-image: url("../../images/jinchuurikiPage05.png");
}
.container00.container15 {
  background-image: url("../../images/jinchuurikiPage06.jpg");
}
.container00.container16 {
  background-image: url("../../images/jinchuurikiPage07.webp");
}

.container01Content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container01Content .titleJinchuuriki {
  font-size: 120px;
}
.container01Content .subtitleJinchuuriki {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
}

.KyuubiDesc {
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.KyuubiDesc .textKyuubiDesc {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 20px;
  width: 800px;
}

.containerRightContent {
  margin-left: 55%;
  padding-top: 15%;
}
.containerRightContent .titleSection {
  font-size: 60px;
  font-weight: bold;
}
.containerRightContent .subtitle {
  font-weight: 300;
  margin-bottom: 40px;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}
.containerLeftContent .titleSection {
  font-size: 60px;
  font-weight: bold;
}
.containerLeftContent .subtitle {
  font-weight: 300;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .KyuubiDesc .textKyuubiDesc {
    font-size: 15px;
  }
  .container01Content .titleJinchuuriki {
    font-size: 60px;
  }
}
@media (max-width: 525px) {
  .containerRightContent .titleSection {
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  .KyuubiDesc .textKyuubiDesc {
    font-size: 12.5px;
  }
  .containerRightContent .titleSection {
    font-size: 35px;
  }
  .containerLeftContent .titleSection {
    font-size: 40px;
  }
}
.container00.container05 {
  background-image: url("../../images/naruto01.png");
}
.container00.container06 {
  background-image: url("../../images/naruto02.png");
}
.container00.carousel01 {
  background-image: url("../../images/naruto03.jpg");
}
.container00.carousel02 {
  background-image: url("../../images/naruto04.jpg");
}
.container00.carousel03 {
  background-image: url("../../images/naruto05.jpg");
}
.container00.carousel04 {
  background-image: url("../../images/naruto06.jpg");
}
.container00.container07 {
  background-image: url("../../images/naruto07.webp");
}

.titleNaruto {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 514;
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNum {
  font-size: 90px;
}
.numbers .subTitleNum {
  font-size: 20px;
}

.uzumaki {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.container-Naruto {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 700px;
  margin-left: 13%;
  padding-top: 15%;
}

#narutoPowersCarousel .img {
  height: 120vh;
}
#narutoPowersCarousel .carouselText {
  background-color: black;
}

@media (max-width: 810px) {
  .uzumaki {
    width: auto;
  }
  .numbers .titleNum {
    font-size: 80px;
  }
  .numbers .subTitleNum {
    font-size: 18px;
  }
  #overViewPosition {
    padding-top: 20%;
    max-width: 70%;
  }
}
@media (max-width: 575px) {
  .numbers {
    height: 80vh;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
}
@media (max-width: 435px) {
  .titleNaruto {
    font-size: 50px;
  }
  .uzumaki {
    width: auto;
    line-height: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
