.container00 {
    &.container01 {
        background-image: url("../../images/narutoUnpredictable.jpg"); 
    }

    &.container02 {
        background-image: url("../../images/narutoSageMode.jpg");
    }

    &.container03 {
        background-image: url("../../images/narutoPain.jpg"); 
    }

    &.container04 {
        background-image: url("../../images/NarutoVsKurama.gif");
    }
}

.titlePadding {
    padding-top: 200px;
}

.shortTitle {
    width: 550px;
    margin-bottom: 25px;
}

.mediumTitle {
    width: 650px;
    margin-bottom: 25px;
}

@media (max-width:750px) {
    .titlePadding {
        padding-top: 120px;
    }

    .shortTitle, 
    .mediumTitle {
        width: auto;
        font-size: 50px;
    }
}

@media (max-width:380px) {
    .shortTitle,
    .mediumTitle {
        width: auto;
        font-size: 40px;
    }
}